.large-font {
    font-size: 70px;
  }
  
  .tab {
    margin-left:5em;
    margin-right:5em;
  }
  
  body {
    background-color:black;
  }
  
  .box-white {
    background-color:white;
    width:1200px;
    height:1600px;
    margin: auto;
  }
  
  .gray-box {
    background-color:silver;
    width:1070px;
    height:750px;
    margin:auto;
    padding:20px;
    border-style:solid;
    border-color:lightgray;
    border-width:1px;
  }

  .text-center {
      text-align: center;
  }